<%- include("templates/_header") %>
<body>

<%- include("templates/_navbar") %>
  

<%- include("templates/_sidebar") %>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Foods</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Foods</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <div class="card">
          <div class="card-body">
            
            <div class="row">
                <div class="col-md-6">
                  <h5 class="card-title">Foods</h5>
                </div>
                <div class="col-md-6 ">
                  <h5 class="card-title d-flex justify-content-end mx-3">
                    <a data-bs-target="#addFood" data-bs-toggle="modal" class="btn btn-outline-success text-dark">
                      <i class="bi bi-plus"></i>
                      Add Food!
                    </a>
                  </h5>
                </div>
              </div>

            <!-- Table with stripped rows -->
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Photo</th>
                  <th scope="col">Food Name</th>
                  <th scope="col">Category</th>
                  <th scope="col">Price</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <% for (let i = 0; i < foods.length; i++) { %>
                <tr>
                  <th scope="row"><%= i+1 %></th>
                  <td><img src="<%= foods[i].image %>" width="80px" height="80px"></td>
                  <td><%= foods[i].title %></td>
                  <td><%= foods[i].category.name %></td>
                  <td><%= foods[i].price %>₺</td>
                  <td>
                    <a href="#" class="btn btn-outline-primary">
                        <i class="bi bi-pen"></i>
                    </a>
                    <a href="/foods/<%= foods[i]._id %>?_method=DELETE" class="btn btn-outline-danger">
                        <i class="bi bi-trash"></i>
                    </a>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
            <!-- End Table with stripped rows -->

          </div>
        </div>


      </div>
    </section>

  </main><!-- End #main -->

  <!-- ADD FOOD -->
  <div class="modal fade" id="addFood" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">New Food</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST" action="/foods" enctype="multipart/form-data">
            <div class="form-group">
              <input type="text" class="form-control"  name="title" placeholder="Food Name" required>
            </div>
           
            <div class="form-group mt-3">
              <select class="form-select" name="category" id="">
                <% for(let i = 0; i < categories.length; i++) { %>
                  <option value="<%= categories[i]._id %>"><%= categories[i].name %></option>
                  <% } %>
              </select>
            </div>
            <div class="form-group mt-3">
              <input type="file" name="image" class="form-control" required>
              <small>Food Photo</small>
            </div>
            <div class="form-group mt-3">
              <textarea name="description" id="" class="form-control" placeholder="Food Description" maxlength="150"></textarea>
            </div>
            <div class="form-group mt-3">
              <div class="row">
                <div class="col-sm-3">
                  <div class="input-group mb-3">
                    <input type="number" class="form-control" name="price" placeholder="Food Price">
                      <div class="input-group-prepend">
                        <span class="input-group-text">₺</span>
                      </div>
                  </div>
                </div>
                
               
              </div>
            </div>
           
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close!</button>
            <button type="submit" class="btn btn-outline-success mx-2">Save!</button>
          </div>
        </form>
      </div>
    </div>
  </div>



<%- include("templates/_footer") %>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


<%- include("templates/_script") %>

</body>

</html>