<%- include('templates/_header') %>

<body>

	<div id="preloader">
		<div data-loader="circle-side"></div>
	</div><!-- /Page Preload -->
				
	<%- include('templates/_navbar') %>

	
	<main>
		<div class="hero_single inner_pages background-image" data-background="url(/site/img/hero_menu.jpg)">
			<div class="opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.6)">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-xl-9 col-lg-10 col-md-8">
							<h1>Our Shop</h1>
							<p>Order food with home delivery or take away</p>
						</div>
					</div>
					<!-- /row -->
				</div>
			</div>
			<div class="frame white"></div>
		</div>
		<!-- /hero_single -->

		<div class="filters_full clearfix">
		    <div class="container">
		    	<div class="count_results">Showing 1–6 Of 12 Results</div>
		    	<a href="#0" class="open_filters btn_filters"><i class="icon_adjust-vert"></i></a>
		        <div class="sort_select">
		            <select name="sort" id="sort">
		                <option value="popularity" selected="selected">Sort by Popularity</option>
		                <option value="rating">Sort by Average rating</option>
		                <option value="date">Sort by newness</option>
		                <option value="price">Sort by Price: low to high</option>
		                <option value="price-desc">Sort by Price: high to low</option>
		            </select>
		        </div>
		    </div>
		</div>
		<!-- /filters_full -->

		<div class="container margin_60_40">

			<div class="row">
	            <aside class="col-lg-3" id="sidebar_fixed">
	                <div class="filter_col">
	                    <div class="inner_bt"><a href="#" class="open_filters"><i class="icon_close"></i></a></div>
	                    <div class="filter_type version_2">
	                        <h4><a href="#filter_1" data-bs-toggle="collapse" class="opened">Categories</a></h4>
	                        <div class="collapse show" id="filter_1">
	                            <ul>
									<% for (let i = 0; i < categories.length; i++) { %>

		                        <li>
		                            <label class="container_check"><%= categories[i].name %> <small><%= i+7 %></small>
		                                <input type="checkbox">
		                                <span class="checkmark"></span>
		                            </label>
								</li>

								<% } %>
		                    </ul>
	                        </div>
	                        <!-- /filter_type -->
	                    </div>
	                    
	                    <!-- /filter_type -->
	                    <div class="filter_type version_2">
	                        <h4><a href="#filter_4" data-bs-toggle="collapse" class="closed">Price</a></h4>
	                        <div class="collapse" id="filter_4">
	                            <ul>
	                                <li>
	                                    <label class="container_check">$0 — $50<small>11</small>
	                                        <input type="checkbox">
	                                        <span class="checkmark"></span>
	                                    </label>
	                                </li>
	                                <li>
	                                    <label class="container_check">$50 — $100<small>08</small>
	                                        <input type="checkbox">
	                                        <span class="checkmark"></span>
	                                    </label>
	                                </li>
	                                <li>
	                                    <label class="container_check">$100 — $150<small>05</small>
	                                        <input type="checkbox">
	                                        <span class="checkmark"></span>
	                                    </label>
	                                </li>
	                                <li>
	                                    <label class="container_check">$150 — $200<small>18</small>
	                                        <input type="checkbox">
	                                        <span class="checkmark"></span>
	                                    </label>
	                                </li>
	                            </ul>
	                        </div>
	                    </div>
	                    <!-- /filter_type -->
	                    <div class="buttons">
	                        <a href="#0" class="btn_1">Filter</a> <a href="#0" class="btn_1 gray">Reset</a>
	                    </div>
	                </div>
	            </aside>
	            <!-- /col -->
	            <div class="col-lg-9">

					<% for (let i = 0; i < foods.length; i++) { %>

	                <div class="row row_item" data-cue="slideInUp">
	                    <div class="col-sm-4">
	                        <figure>
	                            <span class="ribbon off">-30%</span>
	                            <a href="shop-single.html">
	                                <img class="img-fluid lazy" src="<%= foods[i].image %>" width="400px" alt="">
	                            </a>
	                        </figure>
	                    </div>
	                    <div class="col-sm-8">
	                    	<div class="rating">
								<span><%= foods[i].category.name %></span>
							</div>
	                        <a href="shop-single.html">
	                            <h3><%= foods[i].title %></h3>
	                        </a>
	                        <p><%= foods[i].description %></p>
	                        <div class="price_box">
	                            <span class="new_price"><%= foods[i].price + 20 %>₺</span>
	                            <span class="old_price"><%= foods[i].price %>₺</span>
	                        </div>
	                        <ul>
	                            <li><a href="#0" class="btn_1">Add to cart</a></li>
	                        </ul>
	                    </div>
	                </div>

					<% } %>
	               
	               
	                <!-- /row_item -->
	               <div class="pagination_fg add_bottom_15" data-cue="slideInUp">
					    <a href="#">&laquo;</a>
					    <a href="#" class="active">1</a>
					    <a href="#">2</a>
					    <a href="#">3</a>
					    <a href="#">4</a>
					    <a href="#">5</a>
					    <a href="#">&raquo;</a>
					</div>	
	            </div>
	            <!-- /col -->
	        </div>
	        <!-- /row -->			
		</div>
		<!-- /container -->
	</main>
	<!-- /main -->

	<%- include('templates/_footer') %>


	<div id="toTop"></div><!-- Back to top button -->
		
	<%- include('templates/_script') %>


</body>
</html>